/*--Overall Styling */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header {
    background-image: linear-gradient(to right, rgb(78, 235, 247), rgb(14, 90, 95));;
    color: white;
}

aside {
    padding-top: 10px;
    padding-left: 10px;
}

button {
    width: 100%;
    background: linear-gradient(to right, rgb(78, 235, 247), rgb(14, 90, 95));
}

#searchedCity {
    display: none;
}

#currentWeather {
    border: black;
    border: solid;
}

#fiveDayForecast .card {
    border: 1px solid white!important;
    background: linear-gradient(to right, rgb(78, 235, 247), rgb(14, 90, 95));
}

#searchResults li {
    background-color: #97A6A4;
    color: #f8f8ff!important;
}